[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
[submodule "dependencies/json11"]
	path = dependencies/json11
	url = https://github.com/dropbox/json11
